@import 'spalvos.scss';

.headerBox {
  display: flex;
  position: fixed;
  height: 40px;
  width: 960px;
  background-color: $just-white;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 40px;
    width: 94%;
    padding-left: 6%;

    li {
      list-style: none;
    }
  }
}

@media screen and (max-width:601px) {
  .headerBox {
    width: 600px;
  }
}

@media screen and (max-width:321px) {
  .headerBox {
    width: 320px;
  }
}
