@import 'spalvos.scss';

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

.rights {
  @include flex-row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  background-color: $just-white;

  nav {
    @include flex-row;
    justify-content: space-around;
    width: 100%;
  }

  ul {
    @include flex-row;
    justify-content: center;
    width: 60%;
  }

  li:first-child {
    list-style: none;
  }

  li {
    font-size: 0.8;
    margin-left: 0.8em;
    margin-right: 0.8em;
    line-height: 1.5em;
    color: $blu-blu
  }

  .social {
    @include flex-row;
    justify-content: center;
    width: 40%;

    i {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 2.2em;
      color: $blu-blu;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width:321px), (max-width:601px) {
  .rights {
    flex-direction: column;

    nav {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      ul {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
      }

      .social {
        margin-bottom: 20px;
      }
    }
  }
}
